body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: black;
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 30px;
  padding-bottom: 70px;
}

body
{
	margin: 0;
	padding: 0;
	animation: bgcolor infinite 20s;
} 
h3
{
	margin: 0;
	padding: 0;
	font-family: arial;
	font-size: 4em;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}



